html {
  font-size: 16px;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  line-height: 25px;
}

body {
  width: 50%;
  margin: auto;
  padding: auto;
}


h3 {
  margin: auto;
  padding: auto;
}

p, li {
  font-size: 16px;
}

img {
  display: block;
  margin: auto;
}

.copyright-text {
  font-size: 12px;
  padding: 5px;
  color: gray;
  text-align:center;
}

/* the below context was adopted from www.w3schools.com */

/* Create two equal columns that floats next to each other */

* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}